<!DOCTYPE html>
<html>
<head>
  <title>Bestenger</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<% if user_signed_in? %>
  <%= render "shared/header" %>
  <div class="container-fluid">
    <div class="row">
      <%= render "shared/sidebar" %>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%= render "shared/flashes" %>
        <%= yield %>
      </main>
    </div>
  </div>
<% else %>
  <%= render "shared/flashes" %>
  <%= yield %>
<% end %>
</body>
</html>
